{{#paper-toolbar accent=true}}
  {{#paper-toolbar-tools}}
    <h2>Grasz jako: {{user.name}}</h2>
    <span class="flex-35"></span>
    <h1>{{room.name}}</h1>
    <span class="flex-30"></span>
    <h1>ID pokoju: {{room.id}}</h1>
      {{#copy-button 
        clipboardText=room.id
        success=(action "success")
        error=(action "error")}}
        {{#paper-button raised=true mini=true}}
          {{paper-icon 'file_copy'}}
          {{#paper-tooltip}}
            Kliknij aby skopiować ID pokoju
          {{/paper-tooltip}}
        {{/paper-button}}
      {{/copy-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
<br/>

<div class="flex-30">
  {{#paper-list}}
    {{#paper-subheader}}<h2>Obecnie w pokoju:</h2>{{/paper-subheader}}
    {{#each userList as |otherUser|}}
      {{#paper-item class="md-3-line"}}
        <div class="md-list-item-text">
          <p>{{otherUser.name}}
            {{#if otherUser.isOwner}}
              {{paper-icon 'star'}}
            {{/if}}
          </p>
        </div>
      {{/paper-item}}
    {{/each}}
    {{paper-divider}}
  {{/paper-list}}

  <div class="layout-row layout-align-center">
    {{#if user.isOwner}}
      {{#paper-button raised=true accent=true}}
        Start
      {{/paper-button}}
    {{/if}}
  </div>
</div>
