<h1>{{room.name}}</h1>
<h1>ID pokoju: {{room.id}}</h1>
<h2>Ty jesteś: {{user.name}} id({{user.id}})</h2>
<h2>Obecni użytkownicy:</h2>
{{#each room.userList as |otherUser|}}
  {{otherUser.name}} id({{otherUser.id}})
{{/each}}
