{{yield}}
{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}{{question.name}}{{/text.headline}}
      <h4>{{question.ident}}</h4>
      <h5>{{question.id}}</h5>
    {{/title.text}}
  {{/card.title}}
  {{paper-input textarea=true block=true label="Odpowiedź" maxlength=50 passThru=(hash rows=5 maxRows=5)
  value=answer onChange=(action (mut answer))}}
  {{#card.actions}}
    {{#paper-button primary=true raised=true onClick=(action 'submitAnswer' answer)}}
      Wyślij
    {{/paper-button}}
  {{/card.actions}}
{{/paper-card}}

{{#each room.answeredQuestions as |ansQuestion|}}
  Id pytania: {{ansQuestion.id}}
  {{#each ansQuestion.answers as |answer|}}
    UserID: {{answer.userId}}
    Answer: {{answer.answer}}
  {{/each}}
{{/each}}