<div class="layout-row layout-wrap">
  {{#each questions as |question|}}
    <div class="flex-20">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#link-to 'question' question.id}}
              {{#text.subhead}}{{question.name}}{{/text.subhead}}
            {{/link-to}}
              {{#text.subhead}}{{question.id}}{{/text.subhead}}
              {{#text.subhead}}{{question.ident}}{{/text.subhead}}
          {{/title.text}}
        {{/card.title}}
        {{#card.actions}}
          <span {{action 'deleteQuestion' question}}>{{paper-icon 'delete' primary=true}}</span>
        {{/card.actions}}
      {{/paper-card}}
    </div>
  {{/each}}
</div>